<!-- Modal -->
<div id="subscriptionModal" class="modal hide in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
  <h3 id="modal-label">Add new subscription...</h3>
</div>
<div class="modal-body">
  <div id="modal-err" class="alert alert-block alert-error fade in">
    <button type="button" class="close" data-dismiss="alert">×</button>
    <h4 class="alert-heading">Ow! Something went wrong</h4>
    <p class="msg"></p>
  </div>
  <label>Url:</label>
  <input type="text" id="subs-url" data-provide="typeahead">
  <%= render 'subscription_group_dropdown' %>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <button class="btn btn-primary btn-save">Save changes</button>
  </div>
</div>
