<div class="new-group">
 <input type="text" id="new-group-name" maxlength="12" >
 <a id="save-group-btn" title="Save Group" class="btn btn-success" href="#"><i class="icon-check-sign"></i></a>
 <a id="cancel-group-btn" title="Cancel" class="btn btn-danger" href="#"><i class="icon-remove-sign"></i></a>
</div
