<div class="feed-view">
  <% unless @feed.nil? %>
   <%= render 'subscriptions/feed', :object => @feed %>
   <%= link_to 'Load More', subscription_path(id: @feed.id, page: (params[:page].to_i || 1)+1, per_page: params[:per_page] || 15), class: 'hook', remote: true %>
  <% end%>
</div>

<%= render 'new_subscription' %>
