<div class="span3">
<div class="sidebar-nav-fixed">
  <div class="row-fluid">
    <h1>Save The Reader</h1>
    <p class="lead"><small>A minimalistic RSS reader.</small></p>
  </div>
  <div id="subscription-sidebar" class="row-fluid">
      <%= render 'layouts/sidebar' %>
  </div>         
</div>  <!--! end of .sidebar-nav-fixed-->
</div>  <!--! end of .span3-->
<div class="span9 span-fixed-sidebar">
  <div class="jumbotron subhead" id="overview">
    <div class="feed-view">
      <% if !user_signed_in? %>
        <%= render(partial: 'subscriptions/feed', object: @entries) %> 
      <% end %> 
    </div>
    <% if user_signed_in? %>
      <a class="hook"><i class="icon-spinner icon-spin icon-large"></i> &nbsp;</a>
    <% end %>
    <%= render 'new_subscription' %>
  </div>
</div>


