<div class="span3">
<div class="sidebar-nav-fixed">
  <div class="row-fluid">
    <h1>Save The Reader</h1>
    <p class="lead"><small>A lightweight news aggregator.</small></p>
  </div>
  <div id="subscription-sidebar" class="row-fluid">
      <%= render 'layouts/sidebar' %>
  </div>         
</div>  <!--! end of .sidebar-nav-fixed-->
</div>  <!--! end of .span3-->
<div class="span9 span-fixed-sidebar">
  <div class="jumbotron subhead" id="overview">
    <div class="feed-view">
      <% if !user_signed_in? %>
        <%= render(partial: 'subscriptions/feed', object: @entries) %>
      <% else %>
        <% if @subscription_count == 0 %>
          <div class="hero-unit">
              <h2>Welcome!</h2> <br/>
              <p>Thank you for registering. <br/>
              Start by adding some subscriptions or import your things from Google Reader.</p> <br/>
              <p><a class="btn btn-primary btn-large" href="<%= url_for(:controller => :subscriptions, :action => :import) %>">Import subscriptions</a></p>
          </div> 
        <% end %> 
      <% end %> 
    </div>
    <% if user_signed_in? && @subscription_count > 0 %>
      <div class="loader">
       <i class="icon-spinner icon-spin icon-large"></i>
       <a class="hook">. &nbsp;</a>
      </div>
    <% end %>
    <%= render 'new_subscription' %>
  </div>
</div>


