<h2>Import your subscriptions</h2>

<%= form_tag(url_for(:controller => :subscriptions, :action => :upload_import), :multipart => true, :method => :post) do %>
  <div>Select your exported subscriptions OPML file.<br />
  <%= file_field_tag 'file[google]' %></div><br />
  <div><%= submit_tag "Upload" %></div>
<% end %>
