<div class="span9">
   <section id="about">
     
    <div class="page-header">
      <h1><small>About</small> Save The Reader</h1>
    </div>

    <h3>Motivation</h3>
    <p>Yes, I know. This is yet another RSS/Atom reader. I was, as many others, a heavy Google Reader user and since I couldn't find any other product that suited my needs, I decided to build my own mostly for fun. </p>

    <h3>Design</h3>
    <p>There are mainly two aspects to contemplate about the design. First, this reader stores the feed entries in its own database. Second, the UI is as simple as possible, mostly taking into account the features I liked from Google Reader.</p>
    
    <h3>Collaboration</h3>
    <p>You are mostly welcome to collaborate with the project. I started with very little so we could add a lot afterwards.
    The github repo is private for now but it will be made public soon. If you don't want to wait for it to become public to collaborate, just contact me and I'll give you access to the private repo.</p>

    <h3>The Author</h3>
    <p>My name is Sebastian Dolber and I am a programmer. You can find more about me and about what I've been doing <a href="http://about.me/sdolber">here</a>.</p>

   </section>
</div>
