// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.bs-docs-example {
  position: relative;
  margin: 15px 0;
  padding: 39px 19px 14px;
  background-color: #fff;
  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

#subs-url {width:300px;font-size:18px}
.modal-body label {font-size:18px;display:inline;margin-right:5px;}

.modal-body .btn-group {display:inline;}

.feed-link {cursor:pointer}

.unreadcnt {margin-left:5px}

.feed-link-template {display:none;}

.entry h3 a {color:black;}

