<div class="container-fluid" id="add-subscription-btn">
<a id="trigger" href="#subscriptionModal" class="btn btn-large btn-primary" data-toggle="modal">
  <i class="icon-rss"></i>
  Add subscription
</a>
</div>
