<% if @subs_groups.nil? %>
  <%= display_public_sidebar_feeds.html_safe %>
<% else %>
  <%= display_user_sidebar_feeds(@subs_groups, @subs_ungroup).html_safe %>
<% end %>
<div class="spacer">&nbsp;</div>
<div class="container-fluid">
<a id="trigger" href="#subscriptionModal" class="btn btn-large btn-primary" data-toggle="modal">
  <i class="icon-rss"></i>
  Add subscription
</a>
</div>
<div class="feed-link-template">
  <%= label_to_li("template", "template" , 0, 1 ) %>
</div>
