<% if @subs_groups.nil? %>
  <%= display_public_sidebar_feeds.html_safe %>
<% else %>
  <%= display_user_sidebar_feeds(@subs_groups, @subs_ungroup).html_safe %>
<% end %>
<div class="spacer">&nbsp;</div>
<p class="main">
<a id="trigger" href="#subscriptionModal" class="btn btn-large btn-primary" data-toggle="modal">Add subscription...</a>
</p>

